@import '../../styles/settings.scss';

.columnForm {
    align-items: center;
    padding: 10px;
    text-align: center;
  
    @media (max-width: 767px) {

    }
  }

  .icon {
    margin: 10px;
  }

  .title {
    margin: 10px;
  }
  
