@import '../../styles/settings.scss';

.listForm {
  align-items: center;
  padding: 10px;
  text-align: center;
  
  @media (max-width: 767px) {

  }
}

.title {
  margin: 10px;
}

.description {
  margin: 10px;
}